<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Klient</title>

      <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Material Design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />

    </head>

  <body>
    <h1>Rakendus</h1>
    <div class="note">Rakendus demonstreerib TARA-Mock-i kasutamist.</div>
    <p class="nupp">
      <a href="https://localhost:8080/oidc/authorize?redirect_uri=https%3A%2F%2Flocalhost%2Freturn&scope=openid&state=111&response_type=code&client_id=111">Sisene</a>
    </p>
  </body>

</html>