<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TARA-Mock</title>
    <base href="{{ .BaseHref }}" target="_blank">

    <link rel="stylesheet" type="text/css" href="static/styles.css" />

  </head>

  <body>
    <p>
        TARA-Mock on vahend <a href="https://e-gov.github.io/TARA-Doku/">TARA</a> klientrakenduste testimiseks. | TARA-Mock is a testing tool for <a href="https://e-gov.github.io/TARA-Doku/">TARA</a> clients.
    </p><p>
        Vt: <a href="https://github.com/e-gov/TARA-Mock">https://github.com/e-gov/TARA-Mock</a>
    </p>
  </body>

</html>
